html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  background: black; /* optional */
}

h1,
h2 {
  color: white;
  margin-right: 50px;
}
canvas {
  display: block;
}
