html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center; /* centers horizontally */
	align-items: center; /* centers vertically */
	background: black; /* optional */
}

h1,
h2 {
<<<<<<< HEAD
	color: #ffffff;
	margin-right: 50px;
=======
  color: white;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> refs/remotes/origin/main
}
canvas {
	display: block;
}
